@charset "UTF-8";

body {
    background: #40444b;
    font: normal 1.3em arial;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #00000057;
}

div {
    text-align: center;
    padding: 8px;
}

div#imagem > img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}