@charset "UTF-8";

body {
    background-color: #2bb9fc;
    font: normal 1.3em arial;
}

header{
    color: white;
    text-align: center;
}

section {
    width: 500px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #00000057;
}

#flista{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}